body {
  background-color: #192e2e;
  color: white;
  font-family: Montserrat;
}

.card {
  background-color: #202124;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
  color: white;
  text-decoration:none;
}

a:hover {
  color:#007bff;
  text-decoration: none;
}

.form-control, .form-control:focus {
  background-color: #202124;
  color: white;
}

.google-button {
  height: 40px;
  border-width: 0;
  background: black;
  color: white;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.1);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
.google-button:hover, .google-button:focus{
  box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.2);
  outline: none;
}
.google-button:active{
  outline: none;
  box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.3);
  transition-duration: 10ms;
}
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.google-button__icon--plus {
  width: 27px;
}
.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}