.bg-dark {
    background-color: #0d1818!important;
}

.remove-label:hover {
    cursor: pointer;;
}

.badge-yellow-custom {
    color: #121212;
    background-color: #fdd663;
}

.vs-score-badge-red {
    color: #cf6679;
    font-size: 11px;
    border: #cf6679 1px solid;
    border-radius: 10%;
    padding: 2px;
}

.vs-score-badge-yellow {
    color: #fdd663;
    font-size: 11px;
    border: #fdd663 1px solid;
    border-radius: 10%;
    padding: 2px;
}

.vs-score-badge-green {
    color: #03DAC6;
    font-size: 11px;
    border: #03DAC6 1px solid;
    border-radius: 10%;
    padding: 2px;
}

.vs-score-badge:hover {
    cursor: pointer;
}