.bg-dark {
    background-color: #0d1818!important;
}

.remove-label:hover {
    cursor: pointer;;
}

.vs-score-badge-red {
    color: red;
    font-size: 11px;
    border: red 1px solid;
    border-radius: 10%;
    padding: 2px;
}

.vs-score-badge-yellow {
    color: yellow;
    font-size: 11px;
    border: yellow 1px solid;
    border-radius: 10%;
    padding: 2px;
}

.vs-score-badge-green {
    color: green;
    font-size: 11px;
    border: green 1px solid;
    border-radius: 10%;
    padding: 2px;
}

.vs-score-badge:hover {
    cursor: pointer;
}