.nav-link {
    color: whitesmoke;
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
    color: white;
}

.navbar-brand {
    color: #bb86fc;
}

.navbar-brand:hover {
    font-weight: normal;
}
